.cover__link {
  max-width: 137px;
  /*margin: 0px auto 240px; */
  padding: 13px 20px;
  z-index: 5;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2222;
  color: #ffffff;
  text-decoration: none;
  background-color: #0278FE;
  border-radius: 4px;
  align-items: center;
}

.cover__link:hover {
  cursor: pointer;
  background-color: #0063D2;
}

/*
@media screen and (max-width: 768px) {
  .cover__link {
    margin: 0px auto 125px;
  }
}*/

/*
@media screen and (max-width: 540px) {
  .cover__link {
    margin-bottom: 45px;
  }
}*/


