.place__title {
  margin: 0px;
  grid-area: 1/1;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.055;
  display:flex;
  align-self: flex-end;
  letter-spacing: initial;
}

@media screen and (max-width: 768px ) {
  .place__title {
    font-size: 42px;
    line-height: 1.095;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 540px) {
  .place__title {
    margin: 0px 16px;
    align-self: flex-start;
    font-size: 32px;
    line-height: 1.09;
  }
}
/*
@media screen and (max-width: 480px) {
  .place__title {
    font-size: 34px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09;

  }
}
*/
