.intro__subtitle {
  margin: 10px 65px 0px 0px;
  max-width: 720px;
  flex-wrap: wrap;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.4166;
}

.intro__subtitle2 {
  margin-bottom: 32px;
}

@media screen and (max-width: 768px ) {
  .intro__subtitle {
    margin: 10px 24px 0px;
    width: 720px;
  }
}


@media screen and (max-width: 540px ) {
  .intro__subtitle {
    margin: 10px auto 0px;
    max-width: 500px;
  }
}

@media screen and (max-width: 480px ) {
  .intro__subtitle {
    margin: 10px auto 0px;
    max-width: 369px;
  }
}

@media screen and (max-width: 320px ) {
  .intro__subtitle {
    max-width: 288px;
  }
}


/*
@media screen and (max-width: 768px ) {
  .intro__subtitle2 {
    margin-right: 24px;
  }
}

@media screen and (max-width:320) {
  .intro__subtitle2 {
    margin-top: 10px;
    margin-right: 16px;
  }
}
*/
