.intro__quote-author {
  max-width:720px;
  width:100%;
  margin: 10px 16px 32px 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.4166;
  text-align: right;
}
/*
@media screen and (max-width: 768px ) {
  .intro__quote-author {
    margin-right: 24px;
  }
}*/

@media screen and (max-width:540px) {
  .intro__quote-author {
    max-width: 374px;
  }
}

@media screen and (max-width:480px) {
  .intro__quote-author {
    max-width: 332px;
  }
}



@media screen and (max-width:320px) {
  .intro__quote-author {
    max-width: 288px;
    margin-top: 10px;
    margin-right: 16px;
  }
}

