.cover__subtitle {
  white-space: pre-line;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2222;
  text-align: center;
  flex-wrap: wrap;
  padding-top: 0px;
  margin: 32px auto 32px;
}


@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin: 32px auto 32px auto;
    max-width: 280px;
  }
}

@media screen and (max-width: 540px) {
  .cover__subtitle {
    font-size:14px;
    margin: 12px auto;
  }
}


@media screen and (max-width: 480px) {
  .cover__subtitle {
    font-size:14px;
    margin: 10px auto;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size:14px;
    margin: 8px auto;

  }
}

