.cover__subtitle {
  max-width: 280px;
  height: 66px;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2222;
  text-align: center;
  flex-wrap: wrap;
  z-index: 3;
  padding-top: 0px;
  margin-top: 32px;
  margin-bottom: 32px;
}
