
@media screen and (max-width: 768px) {
  .place__paragraph-extra {
    margin-top: 180px;
  }
}

@media screen and (max-width: 540px) {
  .place__paragraph-extra {
    margin-top: 180px;
  }
}

@media screen and (max-width: 480px) {
  .place__paragraph-extra {
    margin-top: 180px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph-extra {
    margin-top: 0px;
  }
}
