.place__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.611;
  margin: 0px auto 25px;
  letter-spacing: initial;
}


@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 1.63;
  }
}

@media screen and (max-width: 540px) {
  .place__paragraph {
    padding: 0px;
  }
}

@media screen and (max-width: 480px) {
  .place__paragraph {
    padding: 0px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    padding: 0px;
  }
}
