.footer__copyright {
  margin: 92px auto 24px;
  padding-bottom: 24px;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428;
}
