


@media screen and (min-width: 769px) and (max-width: 926px) {
  .place__long {
    display: grid;
    grid-row: 5/6;
    grid-template-rows: 152px 460px 48px auto 322px;
  }
}



/*@media screen and (max-width: 768px) {
  .place__longparagraph {
    margin-top: 180px;
  }
}

@media screen and (max-width: 540px) {
  .place__longparagraph {
    margin-top: 180px;
  }
}

@media screen and (max-width: 480px) {
  .place__longparagraph {
    margin-top: 180px;
  }
}

@media screen and (max-width: 320px) {
  .place__longparagraph {
    margin-top: 0px;
  }
}*/
