.lead__image {
  margin-top: 32px;
  margin-bottom: 0px;
  max-width: 984px;
  width: 100%;
  max-height: 615px;
  height: 100%;
  align-self: center;
  filter: grayscale(0.7);
}

@media screen and (max-width:768px){
  .lead__image {
    max-width: 768px;
    max-height: 480px;
  }
}

@media screen and (max-width:540px){
  .lead__image {
    max-width: 427px;
    max-height: 260px;
  }
}

@media screen and (max-width:480px){
  .lead__image {
    max-width: 370px;
    max-height: 231px;
  }
}

@media screen and (max-width:320px){
  .lead__image {
    max-width: 320px;
    max-height: 200px;
  }
}
