.intro {
  margin-top: 0px;
  margin-bottom: 118px;
  margin-left: 148px;
  display: flex;
  flex-direction: column;
  max-width: 785px;
  width: 100%;
  margin: 90px auto 118px;
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 90px auto 90px;
  }
}

@media screen and (max-width: 540px) {
  .intro {
    max-width: 540px;
    margin: 90px auto 90px;
  }
}

@media screen and (max-width: 480px) {
  .intro {
    max-width: 480px;
    margin: 90px auto 90px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 720px;
    max-height: 5296px;
    margin: 90px auto 90px;
  }
}
