.cover {
  margin: 92px auto;
  position: relative;
  max-width: 1184px;
  width: 100%;
  height: 740px;
  /*height: 100%;*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url(./../../images/coverview.png);
  background-repeat: no-repeat;
  background-position: center;
}

.cover::before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #2A2C2F;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  transition: opacity 0.8s linear 0.25s;
}
.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .cover{
    margin: 90px auto 90px;
    max-height: 746px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-height: 254px;
    margin:  64px 0px;
  }
}

