.place__link {
  margin: 0px;
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
  grid-row: 3;
  grid-template-rows: auto;
  z-index: 2;
  max-width: 288px;
  max-height: 48px;
  font-family: "Inter", Arial, sans-serif;
  font-style:normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2222;
  padding: 13px 20px;
  text-align: center;
  background-color: #0278FE;
  box-sizing: border-box;
  border-radius: 4px;
}

.place__link:hover {
  background-color: #0063D2;
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  .place__link {
    grid-row: 5;
  }
}


/*
@media screen and (max-width: 320px) {
  .place__link {
    font-size: 14px;
  }
}*/
