.place__link-rectangle {
  margin: 0px;
  background-color: #0278FE;
  border-radius: 4px;
  z-index: 0;
  grid-row: 3;
  max-height: 48px;
  padding: 13px 20px;
}

.place__link-rectangle:hover {
  background-color: #0063D2;
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  .place__link-rectangle {
    grid-row: 5;
    max-width: 288px;
    margin: 0px auto 0px;
    padding: 13px 40px;
  }
}
@media screen and (max-width: 480px) {
  .place__link-rectangle {
    grid-row: 5;
    max-width: 288px;
    margin: 0px auto 0px;
    padding: 13px 40px;
  }
}
@media screen and (max-width: 320px) {
  .place__link-rectangle {
    grid-row: 5;
    max-width: 288px;
    margin: 0px 16px 0px;
    padding: 13px 40px;
  }
}
