.place__link {
  margin: 0px;
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
  display: grid;
  grid-column: 1;
  grid-row: 3;
  z-index: 1;
  padding: 13px 20px;
  max-height:48px;
  max-width: 208px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.2222;
}

