.cover__overlay {
  background-color: #2A2C2F;
  background-size: cover;
  width: 100%;
  /*position: absolute;*/
  z-index: 1;
  opacity: 0.2;
  transition: opacity 0.8s linear 0.25s;
}
.cover:hover .cover__overlay {
  opacity: 0.8;
}

.cover:hover::before .cover__text-group {
  opacity: 0.8;
}
/*  background-image: url(../../../images/coverview.png);
  opacity:0.7;
  background-repeat: no-repeat;
  background-position: center;*/
