.cover__title {
  margin: 240px 264px auto;
  max-width:656px;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.055;
  color: #FFFDFD;
  text-align: center;
  /*display: flex;
  align-self: center;*/
  z-index: 3;

}

/*
@media screen and (min-width: 769px) and (max-width: 926px) {
  .cover__title {
  }
}*/

@media screen and (max-width: 768px) {
  .cover__title {
    margin: 222px 0px 0px 0px;
  }
}

@media screen and (max-width: 540px) {
  .cover__title {
    font-size: 38px;
    line-height: 1.1;
    margin: 60px 20px auto 20px;
  }
}


@media screen and (max-width: 480px) {
  .cover__title {
    font-size: 34px;
    line-height: 1.1;
    margin: 53px 16px 18px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.1;
    max-width:288px;
    width: 100%;
    margin: 46px 16px 0px;
  }
}
