.cover__title {
  margin: 243px 264px auto;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.055;
  color: #FFFDFD;
  text-align: center;
  display: flex;
  align-self: center;
  z-index: 3;
}

@media screen and (min-width: 769px) and (max-width: 926px) {
  .cover__title {
    margin: 76px 56px auto;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    margin: 33% 56px auto;
  }
}

@media screen and (max-width: 540px) {
  .cover__title {
    font-size: 38px;
    line-height: 1.1;
    margin: 150px 20px auto 20px;
  }
}


@media screen and (max-width: 480px) {
  .cover__title {
    font-size: 34px;
    line-height: 1.1;
    margin: 140px 18px auto 18px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.1;
    margin: 76px auto 0px;
  }
}
