.place__url-heading {
  margin: 0px 0px 8px 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #AAAAAA;
}

/*
@media screen and (max-width: 540px) {
  .place__url-heading {
  }
}
/*
@media screen and (max-width: 480px) {
  .place__url-heading {

  }
}


@media screen and (max-width: 320px) {
  .place__url-heading {

  }
}*/
