.place__description {
  max-width: 488px;
  margin: 0px;
  padding: 0px;
  grid-column: 2;
  grid-row: 2/4;
}


@media screen and (max-width: 320px) {
  .place__description {
    margin: 0px 16px;
  }
}

