.place__artist {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
  max-width: 456px;
  height: 22px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.12em;
  color: #AAAAAA;
  grid-row: 2/3;
}
