.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  grid-row: 1/2;
  grid-column: 2;
}

@media screen and (max-width: 540px) {
  .place__website {
    justify-content: flex-start;
  }
}

/*

@media screen and (max-width: 480px) {
  .place__website {
  }
}

@media screen and (max-width: 320px) {
  .place__website {
  }
}*/
