.cover__content {
  max-width: 1184px;
  max-height: 740px;
  z-index: 0;
  background-image: url(../../../images/cover-view.jpg);
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
