.intro__title {
  max-width: 100%;
  max-height: 116px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 1.074;
  margin-top: 0px;
  margin-bottom: 30px;
}
